<div class="card">
    <div class="card-content">
        <span class="card-title activator ">{{$ctrl.server.serverName}}</span>
        <ul>
            <li>{{$ctrl.server.ipAddress}}</li>
            <li>User Name: {{$ctrl.server.userName}}</li>
        </ul>
    </div>
    <div class="card-action">
        <a href="#">Install</a>
        <a href="#" class="right">Remove</a>
    </div>

    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <p><i>{{$ctrl.server.description}}</i></p>
    </div>
</div>