<ul>
    <li>
        <div>
            <div class="collapsible-header active">
                <i class="material-icons">location_city</i><b>{{$ctrl.zone.zoneName}}</b>
                <i class="material-icons right" title="Remove Current Server"
                    ng-click="$ctrl.deleteSelectedServer($ctrl.scope.serverId)">remove_circle</i>
                <i class="material-icons right" title="Add More Server"
                    ng-click="$ctrl.openServerCreationDlg($ctrl.zone.id)">add_circle</i>
                <!-- 
                <i class="material-icons right" title="Install Feature">system_update_alt</i>
                 -->
            </div>
            <div class="zone-body">
                <ul class="row">
                    <li class="col l12 m12 12" ng-repeat="server in $ctrl.zone.servers">
                        <server-info-summary-component server="server" ng-init="$ctrl.showSimpleMode()" />
                    </li>
                </ul>
            </div>
        </div>
    <li>
</ul>