<script type="text/javascript">
$(document).ready(function(){
  });
</script>

<li ng-repeat="zone in $ctrl.zoneAndServers">
    <div>
        <div class="collapsible-header active">
            <i class="material-icons">location_city</i>{{zone.zoneName}}
            <i class="material-icons right" title="Add More Server" onclick="openServerCreationDlg()">add</i>
            <!-- 
            <i class="material-icons right" title="Install Feature">system_update_alt</i>
             -->
        </div>
        <div class="zone-body">
            <ul class="row">
                <li class="col l4 m6 s12" ng-repeat="server in zone.servers">
                    <server-info-summary-component></server-info-summary-component>
                </li>
            </ul>
        </div>
    </div>
<li>