<script type="text/javascript">
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
    
    $('.modal-trigger').leanModal();
  });
  
  function openServerCreationDlg(){
	  $('#serverCreationDlg').openModal();
  }
</script>

 <!-- Server Creation Dialog -->
<div id="serverCreationDlg" class="modal">
    <div class="modal-content tts-cc-modal">
        <h4>Create Server</h4>
        <div class="row tts-cc-formrow">
            <form class="col s12">
                <div class="row tts-cc-formrow">
                    <div class="input-field col s6">
                        <input id="form-server_name" type="text" class="validate" placeholder="Your Server Name...">
                        <label for="form-server_name" class="active">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="form-server_ip" type="text" class="validate" placeholder="Your IP Address...">
                        <label for="form-server_ip" class="active">IP</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="form-server_username" class="active" placeholder="Your User Name..."></input>
                        <label for="form-server_username" class="active">User Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="form-server_password" class="active" type="password" placeholder="Your Password..."></input>
                        <label for="form-server_password" class="active">Password</label>
                    </div>
                    <div class="input-field col s12">
                          <textarea id="form-server_description" class="materialize-textarea" placeholder="Your Server's Description..."></textarea>
                          <label for="form-server_description" class="active">Description</label>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action waves-effect waves-green btn-flat">Add</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Canel</a>
    </div>
</div>

<!-- Page Layout here -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="mass-creation col m3 s12">
                <h4 class="">Mass Creation</h4>
                
                
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="form-zone_name" type="text" class="validate" placeholder="Your Zone Name...">
                          <label for="form-zone_name" class="active">Zone Name</label>
                        </div>
                      <div class="input-field col s12">
                          <label for="form-servers" class="active">Servers</label>
                          <textarea id="form-servers" class="materialize-textarea" placeholder="Name, IP Address, user name, password"></textarea>
                      </div>
                      <div class="input-field col s12">
                            <a class="waves-effect btn right">Add</a>
                      </div>
                  </div>
                </form>
            </div>
            
            <div class="col m9 s12">
                <ul class="">
                    <li>
                        <div>
                            <div class="collapsible-header active">
                                <i class="material-icons">location_city</i>TMA - LAB 2
                                <i class="material-icons right" title="Add More Server" onclick="openServerCreationDlg()">add</i>
                                <!-- 
                                <i class="material-icons right" title="Install Feature">system_update_alt</i>
                                 -->
                            </div>
                            <div class="zone-body">
                                <ul class="row">
                                    <li class="col l4 m6 s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <span class="card-title activator ">Configuration Server</span>
                                                <ul>
                                                    <li>IP: 192.100.100</li>
                                                    <li>User Name: tcthien</li>
                                                </ul>
                                            </div>
                                            <div class="card-action">
                                                <a href="#">Install Feature</a>
                                                <a href="#" class="right">Remove</a>
                                            </div>
                                        
                                            <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                                                <p><i>This server will contains configuration for TMA SO system</i></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col l4 m6 s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <span class="card-title activator ">MQTT Server</span>
                                                <ul>
                                                    <li>IP: 192.100.100</li>
                                                    <li>User Name: tcthien</li>
                                                </ul>
                                            </div>
                                            <div class="card-action">
                                                <a href="#">Install Feature</a>
                                                <a href="#" class="right">Remove</a>
                                            </div>
                                        
                                            <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                                                <p><i>This server will contains configuration for TMA SO system</i></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col l4 m6 s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <span class="card-title activator ">OpenHAB Server</span>
                                                <ul>
                                                    <li>IP: 192.100.100</li>
                                                    <li>User Name: tcthien</li>
                                                </ul>
                                            </div>
                                            <div class="card-action">
                                                <a href="#">Install Feature</a>
                                                <a href="#" class="right">Remove</a>
                                            </div>
                                        
                                            <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                                                <p><i>This server will contains configuration for TMA SO system</i></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>        
        
    </div>
</div>
