.tts-nav-header{
	padding-left: 20px;
	padding-right: 20px;
}

.container{
	width:100%;
}

.itemList{
	padding:0px;
	margin:0px;
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.zone-body{
	padding-top: 10px;
}

.mass-creation{
	padding-top: 0px !important;
}
i.right{
	margin-right:0px;
}

.tts-cc-modal{
	padding-bottom:0px !important;
}
.tts-cc-formrow{
	padding-bottom:5px !important;
	margin-bottom:0px !important;
}

textarea{
	margin-bottom:0px !important;
}

.tts-masscreation-reset {
	margin-right: 10px;
}
.tts-card-simple:hover {
	background-color: #f5f5f5;
}
.tts-card-simple {
	margin: 1px;
	padding: 10px !important;
}
.tts-card-simple card-title {
	font-size: 18px !important;
}

i.material-icons {
	font-size: 18px;
}
.tts-card-action{
	text-align: right !important;
	padding: 10px !important;
}
.tts-card-action a {
 	margin-right: 10px !important;
}
.tts-server-body{
	padding-top: 10px;
}
.tts-server-info-row {
	margin-bottom: 5px !important;
}
.tts-server-info-row li.label{
	padding-left: 40px !important;
}
.tts-server-info-row li.value{
	font-style:italic !important;
}
ul.tabs li a {
	text-align: left !important;
}
nav.tts-breadcrumb {
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
}
nav.tts-breadcrumb a.breadcrumb, 
nav.tts-breadcrumb a.breadcrumb:before {
	color: #555555;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-style: italic;
}
li.activator, .material-icons{
	cursor: pointer;
}
i.material-icons{
	margin-left:0px !important;
}
div#featureContainter, 
div#commandContainter, 
div#consoleContainer {
	margin-top: 20px;
	padding: 0px;
}
table#featureTable tbody tr:hover {
	background-color: #ef9a9a;
	color: #FFFFFF;
}
.material-icons-green {
	color: #4caf50;
}
.material-icons-yellow {
	color: #ffeb3b;
}
.material-icons-red {
	color: #f44336;
}
.material-icons-blue {
	color: #2196f3;
}
div.rowCommandName,
div.rowCommandDescription {
	margin: 0px;
	margin-left: 20px !important;
}
div.rowCommandDescription {
	margin-left: 40px !important;
}