.container{
	width:100%;
}

.itemList{
	padding:0px;
	margin:0px;
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.zone-body{
	padding-top: 10px;
}

.mass-creation{
	padding-top: 30px !important;
}
i.right{
	margin-right:0px;
}

.tts-cc-modal{
	padding-bottom:0px !important;
}
.tts-cc-formrow{
	padding-bottom:5px !important;
	margin-bottom:0px !important;
}

textarea{
	margin-bottom:0px !important;
}