<!-- Page Layout here -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="mass-creation col m3 s12">
                <!-- Using Mass Creation Component -->
                <mass-creation-component></mass-creation-component>
            </div>
            
            <div class="col m9 s12">
                <ul class="">
                    <!-- TMA LAB 2 -->
                    <li>
                        <zone-info-component></zone-info-component>
                    </li>
                    
                    <!-- TMA LAB 3 -->
                    <li>
                        <zone-info-component></zone-info-component>
                    </li>
                </ul>
            </div>
        </div>        
        
    </div>
</div>
